# .NET
bin/
obj/
.vs/
*.user
*.suo
*.pdb

# Node
node_modules/
dist/
.env
.DS_Store

# Logs
logs/
*.log


# User specific
.gemini/

# Uploads
src/RSCMP.API/uploads/
src/RSCMP.API/wwwroot/
!src/RSCMP.API/wwwroot/.gitkeep
